<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="index::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">This is home page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
<h1>Smart Contact Manager</h1>
<p>We collecting your contacts in very smarter way. We provide very efficient and smarter way of handling contacts.</p>
<button class="btn bg-primary text-white">Get Smart</button>
</div>
</section>
</body>
</html>